.searchbar {
  border-radius: var(--mantine-spacing-sm);
  border: 1px solid var(--mantine-color-neutral-6);
  margin-top: 40px;
  display: block;

  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.faqContainer {
  cursor: pointer;
}

.faqIcon {
  width: 25px;
  height: 25px;
  background-color: var(--mantine-color-primary-6);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
