.desktopNavWrapper {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.desktopNavbar {
  display: flex;
  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.mobileNavbar {
  display: none;
  @media (max-width: $mantine-breakpoint-sm) {
    display: flex;
  }
}

.menuItemDefault {
  cursor: pointer;
  font-weight: 600;
}
.activeMenuItemDefault {
  cursor: pointer;
  font-weight: 600;
}

.logo {
  cursor: pointer;
}
