.desktopNavWrapper {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.desktopNavbar {
  display: flex;
  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.mobileNavbar {
  display: none;
  @media (max-width: $mantine-breakpoint-sm) {
    display: flex;
  }
}

.menuItemDefault {
  cursor: pointer;
  font-weight: 600;

  &:hover {
    color: var(--mantine-color-primary-6);
  }
}
.activeMenuItemDefault {
  cursor: pointer;
  font-weight: 600;
  color: var(--mantine-color-primary-6);
}
.transparentMenuItemDefault {
  cursor: pointer;
  font-weight: 600;
  color: var(--mantine-color-white);
}

.logo {
  cursor: pointer;
}
