.ticketSeat {
  cursor: pointer;
  border-radius: 3px;
  background-color: #ca81b6;

  &:hover {
    background-color: #c76daf;
  }
}

.selectedTicketSeat {
  cursor: pointer;
  border-radius: 3px;
  background-color: var(--mantine-color-primary-6);

  &:hover {
    background-color: var(--mantine-color-primary-7);
  }
}

.eventDate {
  padding: 7px 12px;
  border: 1px solid gray;
  border-radius: 7px;
}

.collapseHeader {
  padding: 15px 0;
  width: 100%;
  cursor: pointer;
}

.tag {
  border-radius: 3px;
}

.radioBox {
  border: 1px solid var(--mantine-color-neutral-8);
  border-radius: 5px;
  cursor: pointer;
}

.selectedRadioBox {
  border: 1px solid var(--mantine-color-primary-6);
  border-radius: 5px;
  cursor: pointer;
}
