.google {
  cursor: pointer;
}

.footerLink {
  cursor: pointer;
}

.footerDisplay {
  @media (max-width: $mantine-breakpoint-xs) {
    display: none;
  }
}

.floatingWrapper {
  position: relative;
}

.floatingItem {
  position: fixed;
  bottom: 100px;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stoppedFloatingItem {
  position: relative;
  width: 100%;
}

.floatingImg {
  @media (max-width: $mantine-breakpoint-xs) {
    display: none;
  }
}

.flip {
  transform: scaleX(-1);
}
