.searchbar {
  border-radius: var(--mantine-spacing-md);
  display: block;

  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.mobileSearchbar {
  display: none;

  @media (max-width: $mantine-breakpoint-sm) {
    display: block;
  }
}

.borderRight {
  border-right: 1px solid var(--mantine-color-neutral-6);
}
